body {
  font-family: Arial, sans-serif;
  background: url('watermark.png');
  background-size: 160px;
}

.container {
  width: 90%;
  max-width: 480px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 0 10px #999;
}

h1 { text-align: center; color: #004b9b; }

label { display:block; margin-top:15px; font-weight:bold; }
input { width:100%; padding:7px; margin-top:5px; }

button {
  margin-top:20px; width:100%; padding:10px;
  background:#0074d9; color:white; border:none; border-radius:6px;
}

/* Result page */
.result-container {
  width:95%; max-width:860px; margin:40px auto;
  background:white; padding:24px; border-radius:8px;
  box-shadow:0 0 10px #999;
  border:1px solid #b0c7e6;
}

.result-container h1{
  text-align:center; font-size:26px; color:#0A4A92;
}

/* tables */
.info-table, .score-table {
  width:100%; border-collapse:collapse; margin-bottom:24px;
  font-size:15px;
}

.info-table th{
  background:#B9D7F7; border:1px solid #5A80B0; padding:10px;
}

.info-table td{
  border:1px solid #5A80B0; padding:10px;
}

.score-table th{
  background:#A9C8F6; border:1px solid #5A80B0; padding:10px;
}

.score-table td{
  border:1px solid #5A80B0; padding:10px; text-align:center;
}
